html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.section-content {
  margin: 0 5vw;
  max-width: 1200px;
  padding: 50px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}
header #nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.section-one h1, .section-one h3, .section-one p {
  text-align: center;
  max-width: 700px;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.section-two .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15%;
  align-items: center;
}
.section-two .section-content .bio-image img {
  max-width: 500px;
  margin: auto;
}
.section-two .section-content .bio-image {
  display: flex;
  align-items: center;
}
.section-two .section-content h1 {
  text-align: right;
}
.section-two .section-content p {
  text-align: justify;
}
.section-two .section-content .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.section-two .section-content .links h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-two .section-content .links a {
  text-decoration: none;
}

.section-three .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}
.section-three .section-content .work-text {
  position: sticky;
  top: 20px;
}
.section-three .section-content .work-text p {
  text-align: justify;
}
.section-three .section-content .work-graphic img {
  max-width: 400px;
  margin: auto;
}
.section-three .section-content .work-images {
  margin: auto;
}
.section-three .section-content .work-images .thumbnail {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  transition: 0.3s ease-in-out;
}
.section-three .section-content .work-images .thumbnail:hover {
  transform: scale(1.025);
}
.section-three .section-content .work-images .description {
  margin-bottom: 80px;
  margin-top: -10px;
}
.section-three .section-content .work-images img {
  max-width: 500px;
  margin: auto;
}
.section-three .section-content .right {
  text-align: right;
}
.section-three .section-content a {
  text-decoration: none;
}
.section-three .section-content a h3 {
  transition: opacity 0.2s ease-in-out;
}
.section-three .section-content a:hover h3 {
  opacity: 0.7;
}

.section-four .section-content {
  margin: auto;
  padding-bottom: 100px;
}
.section-four .section-content .top-section {
  display: grid;
  grid-template-columns: 1fr 550px;
  align-items: center;
}
.section-four .section-content .top-section img {
  width: 100%;
  padding-top: 20px;
}
.section-four .section-content .top-section p {
  text-align: justify;
}
.section-four .section-content .bottom-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding-top: 80px;
}
.section-four .section-content .bottom-section .project-container {
  max-width: 400px;
  margin: auto;
  height: 100%;
}
.section-four .section-content .bottom-section .project-container img {
  max-width: 400px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-four .section-content .thumbnail {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  transition: 0.3s ease-in-out;
}
.section-four .section-content .thumbnail:hover {
  transform: translateY(-5px);
}
.section-four .section-content a {
  text-decoration: none;
}
.section-four .section-content a h3 {
  transition: opacity 0.2s ease-in-out;
}
.section-four .section-content a:hover h3 {
  opacity: 0.7;
}

.section-five .section-content {
  display: grid;
  grid-template-columns: 50% 1fr;
  margin: 0 0vw 0 5vw;
  max-width: none;
  padding: 50px 0px 0px 50px;
}
.section-five .section-content img {
  width: 100%;
}
.section-five .section-content .left-section {
  padding-top: 50px;
}
.section-five .section-content .skills-graphics {
  position: relative;
  max-width: 750px;
}
.section-five .section-content .sqs-graphic {
  width: 70%;
  margin-left: auto;
  position: absolute;
  bottom: 100%;
  right: -10%;
}
.section-five .section-content .code-graphic {
  width: 70%;
  margin-right: auto;
  margin-bottom: 50px;
}
.section-five .section-content p {
  text-align: justify;
}
.section-five .section-content .lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.section-five .section-content .lists ul {
  list-style-type: none;
  padding: 0;
}
.section-five .section-content .lists ul li {
  line-height: 1.2em;
  margin-bottom: 5px;
}
.section-five .section-content .phone-graphic {
  padding-left: 50px;
  position: relative;
  top: -10%;
}
.section-five .overlap {
  background-color: #fff;
  width: 100vw;
  height: 15vh;
  margin-top: -15%;
}

.section-six {
  margin-top: -50px;
  min-height: 50vh;
}
.section-six .section-content {
  text-align: center;
  max-width: 650px;
  margin: auto;
}
.section-six .underline-graphic {
  max-width: 200px;
}

/* Animation */
.underline-container {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.underline-graphic {
  max-width: 300px;
  margin: auto;
  position: relative;
  margin-top: -30px;
  margin-bottom: -30px;
  z-index: 1;
}
.underline-graphic img {
  width: 100%;
}

.animate-underline {
  height: 20px;
  max-width: 300px;
  margin: auto;
  background-color: #38383B;
  width: 100%;
  position: absolute;
  right: 0;
  margin-top: -5px;
  animation: dash 0.5s linear forwards;
  z-index: 1;
}

@keyframes dash {
  to {
    width: 0;
  }
}
/* Text Links */
.text-link {
  position: relative;
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  color: #000;
}

.text-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #6DA7CC;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.text-link:hover::before {
  transform: scaleX(1);
}

h1 {
  font-family: Libre Baskerville, serif;
  font-weight: 100;
  font-size: 45px;
}

h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 18px;
}

p, li {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 16px;
}

#nav a, a {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.light a {
  color: #000;
}

.dark {
  background-color: #38383B;
}
.dark h1, .dark h3, .dark p, .dark li {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .section-two .section-content {
    grid-template-columns: 40% 1fr;
  }
  .section-two .section-content .bio-image img {
    max-width: 400px;
    margin: auto;
  }
  .section-five .overlap {
    display: none;
  }
  .section-six {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1050px) {
  .section-two .section-content {
    display: flex;
    flex-direction: column;
  }
  .section-three .section-content {
    display: flex;
    flex-direction: column;
  }
  .section-three .section-content .work-text {
    position: static;
    top: 0px;
  }
  .section-four .section-content .top-section {
    display: flex;
    flex-direction: column;
  }
  .section-four .section-content .top-section img {
    max-width: 550px;
    margin: auto;
  }
  .section-four .section-content .bottom-section {
    display: flex;
    flex-direction: column;
  }
  .section-five .section-content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 0 5vw;
  }
  .section-five .section-content .phone-graphic {
    max-width: 500px;
    top: 50px;
  }
}
@media only screen and (max-width: 770px) {
  .section-content {
    margin: 0 2vw;
  }
  .section-three .work-images div {
    max-width: 400px;
    margin: auto;
  }
  .section-three .work-images .thumbnail img {
    max-width: 400px;
    margin: auto;
  }
  .section-three .work-images .description img {
    max-width: 400px;
    margin: auto;
  }
  .section-five .section-content {
    margin: 0 2vw;
  }
  .section-five .section-content .lists {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section-five .section-content .phone-graphic {
    padding: 0px;
  }
  .text-link::before {
    transform: scaleX(1);
  }
}/*# sourceMappingURL=web.css.map */
